<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


    <div class="container mx-auto my-10 shadow rounded-lg bg-white">
        <div class="px-3 py-3 flex justify-between items-center bg-white border-b-2">
            <div class="font-semibold text-xl chat_name">TalkBuddy 🤠</div>
            <div class="flex items-center ">
                <div class="text-sm font-bold" id="check_from_user">Please, add user 👉🏻</div>
                <select id="select_from_email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[300px] p-2.5 "></select>
                <a href="/user" class="block ml-5 w-fit text-center bg-black border border-[#e5e5e5] text-white py-2 px-5 rounded-md shadow  text-sm font-medium hover:underline ">Users</a>
            </div>
        </div>

        <div class="flex flex-row justify-between bg-white h-[450px]" id="chat_area">
            <div id="user_list" class="flex flex-col w-[450px] border-r-2 overflow-y-auto"></div>


            <div class="max-w-3xl mx-auto px-5 flex justify-center my-6" id="chat_hint_msg">
                <h2 class="font-semibold">👋🏻 You're welcome to pick any user and start a conversation with them.</h2>
            </div>


            <div class="w-full px-5 flex flex-col justify-between bg-gray-100" id="chating_area">
               
                <div id="toUserName" class="capitalize font-bold border-b border-gray-200 py-2"></div>
                
                <div class="flex flex-col mt-5 h-[450px] overflow-y-scroll" id="msg_area"></div>

                <form class="py-3 flex items-center border-t border-gray-200" id="msg_sendForm">
                    <button type="button" id="refresh_msg_btn" class="mr-4">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.0789 2.25C7.2854 2.25 3.34478 5.913 2.96055 10.5833H2.00002C1.69614 10.5833 1.42229 10.7667 1.30655 11.0477C1.19081 11.3287 1.25606 11.6517 1.47178 11.8657L3.15159 13.5324C3.444 13.8225 3.91567 13.8225 4.20808 13.5324L5.88789 11.8657C6.10361 11.6517 6.16886 11.3287 6.05312 11.0477C5.93738 10.7667 5.66353 10.5833 5.35965 10.5833H4.4668C4.84652 6.75167 8.10479 3.75 12.0789 3.75C14.8484 3.75 17.2727 5.20845 18.6156 7.39279C18.8325 7.74565 19.2944 7.85585 19.6473 7.63892C20.0002 7.42199 20.1104 6.96007 19.8934 6.60721C18.2871 3.99427 15.3873 2.25 12.0789 2.25Z" fill="#1C274C"/>
                            <path opacity="0.5" d="M20.8412 10.4666C20.5491 10.1778 20.0789 10.1778 19.7868 10.4666L18.1005 12.1333C17.8842 12.3471 17.8185 12.6703 17.934 12.9517C18.0496 13.233 18.3236 13.4167 18.6278 13.4167H19.5269C19.1456 17.2462 15.876 20.25 11.8828 20.25C9.10034 20.25 6.66595 18.7903 5.31804 16.6061C5.10051 16.2536 4.63841 16.1442 4.28591 16.3618C3.93342 16.5793 3.82401 17.0414 4.04154 17.3939C5.65416 20.007 8.56414 21.75 11.8828 21.75C16.6907 21.75 20.6476 18.0892 21.0332 13.4167H22.0002C22.3044 13.4167 22.5784 13.233 22.694 12.9517C22.8096 12.6703 22.7438 12.3471 22.5275 12.1333L20.8412 10.4666Z" fill="#1C274C"/>
                        </svg>
                    </button>
                    <input
                        class="w-full bg-white text-sm font-medium shadow p-2 rounded mr-3"
                        type="text"
                        id="msg_input"
                        placeholder="Type your message here..."
                        required
                    />
                    <button type="submit" class="bg-green-500 p-2  rounded-full shadow">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.51002 4.23001L18.07 8.51001C21.91 10.43 21.91 13.57 18.07 15.49L9.51002 19.77C3.75002 22.65 1.40002 20.29 4.28002 14.54L5.15002 12.81C5.37002 12.37 5.37002 11.64 5.15002 11.2L4.28002 9.46001C1.40002 3.71001 3.76002 1.35001 9.51002 4.23001Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.44 12H10.84" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
</div>
</div>


<script src="../static/js/chat.js"></script>

    
</body>
</html>